<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>ChenghaoQ</title>
        <link rel='stylesheet' href='../static/css/homepage.css'>
        <link rel='stylesheet' href='../static/css/normalize.css'>
    
    
    </head>
    
    <body>
        <div id="wrapper">
        <div id='main-page'>
            <header>
                <nav>
                    <ul>
                        
                        <li><a href='#'>item</a></li>    
                        <li><a href='#'>item</a></li> 
                        <li><a href='#'>item</a></li> 
                        <li><a href='#'>item</a></li>           
                    </ul>
                    <h1 class="active" href='#'>老钱</h1>
                </nav>
                <div class="hr"></div>
            </header>
            <div class='content'>
            
            
            
            
            </div>
            <footer></footer>
        
        
            <button id="sidebar-trigger">侧</button>
            <button class="back-to-top">返</button>
        
        
        
        
        
        </div>
        
    
        
        
        
        
        
        
        <div id='sidebar'>
            <ul>
                <li><a href='#'>item</a></li>
                <li><a href='#'>item</a></li>
                <li><a href='#'>item</a></li>
                <li><a href='#'>item</a></li>
                <li><a href='#'>item</a></li>
            </ul>
        
        </div>
        </div>
        <script src="../static/js/jquery.js"></script>
        <script src="../static/js/home.js"></script>
    </body>





</html>