<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>ChenghaoQ</title>
        <link rel='stylesheet' href='../static/css/posts.css'>
        <link rel='stylesheet' href='../static/css/homepage.css'>
        <link rel='stylesheet' href='../static/css/normalize.css'>
    
    
    </head>
    
    <body>
        <div id="wrapper">
        <div id='main-page'>
            <header>
                <nav>
                    <ul>
                        
                        <li><a href='../index.html'>首页</a></li>    
                        <li><a href='#'>文章</a></li> 
                        <li><a href='#'>归档</a></li> 
                        <li><a href='#'>关于</a></li>           
                    </ul>
                    <div class="logo"><a href="#">老钱</a></div>
                </nav>
                <div class="hr"></div>
            </header>
            <div class='content'>
                <div class="content_wrapper">
                    <article class="post_preview">
                        <div class="post_header">
                            <div class="post_title">看不懂就对了</div>
                            <div class="post_info">2013-07-15 12:00:00</div>
                        </div>
                        <div class="post_body">
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut facilis non totam aperiam esse quia illum eos, </p>
                            <p>sed beatae. Odio provident obcaecati voluptatem eligendi incidunt, earum eum non in ex.互的行为事件时，通常的想法是将用户的事件流</p>
                        </div>
                        <div class="more link_tag">More -></div>
                    </article>
                </div>
            
            
            
            </div>
            <footer></footer>
        
        
            <button id="sidebar-trigger">◀</button>
            <button class="back-to-top">▲</button>
        
        
        
        
        
        </div>
        
    
        
        
        
        
        
        
        <div id='sidebar'>
            <ul>
                <li><a href='#'>item</a></li>
                <li><a href='#'>item</a></li>
                <li><a href='#'>item</a></li>
                <li><a href='#'>item</a></li>
                <li><a href='#'>item</a></li>
            </ul>
        
        </div>
        </div>
        <script src="../static/js/jquery.js"></script>
        <script src="../static/js/home.js"></script>
    </body>





</html>