body
{
    margin:0;

}
#sidebar
{
    position:fixed;
    width:260px;
    top:0;
    left:0;
    bottom:0;
    background:#333;
    color:#fff;
    float:left;
    transition:left 0.5s;

}
#sidebar ul
{
    list-style: none;
    padding:0;
    margin:0;
}
#sidebar ul a
{
    padding:12px;
    display:inline-block;
    text-decoration: none;
    color:white;
}
#sidebar ul li:hover
{
    background:#444;
}
#main-page
{
    height:700px;
    background:white;

    margin-left:260px;
    transition:left 0.5s;
}
#main-page nav
{
    height:130px;
    width:inherit;
    background:#efeeeb;
}
#main-page nav ul
{
    list-style: none;
    float:right;
    margin:0;
    height:inherit;
    margin-top:100px;
    
}
#main-page nav ul li 
{
    display: inline-block;
}
#main-page nav ul li a
{
    padding:20px 12px;
    color:black;
    text-decoration: none;
}
#main-page nav .active
{
    float:left;
    margin:0;
}
#sidebar-trigger
{
    position:fixed;
    margin-right:20px;
    width:30px;
    height:30px;
    bottom:5px;
    background:#222;
    background:rgba(0,0,0,0.9);
    border: 1px solid #111;
    color:white;
    
}
.back-to-top
{
    position:fixed;
    bottom:40px;
    margin-right:20px;
    width:30px;
    height:30px;
    background:#222;
    background:rgba(0,0,0,0.9);
    border: 1px solid #111;
    color:white;
}