.clearfix:after
{
    content:'';
    display:block;
    clear:both;
}
body
{
    margin: 0;
}
header
{
    background: rgba(0,0,0,0.25);
}
p
{
    font-size: 18px;
    letter-spacing:1px;
}
ul
{
    margin:0px;
}
nav
{   background:transparent;
    height:50px;
}


nav ul
{
    list-style: none;
    margin: 0;
    float:right;
}
nav ul li,nav .logo
{
        display:inline-block;
        line-height:50px;
        margin-right: 20px;
    
}
nav ul li a
{
        line-height:inherit;/*make the content center in height*/
        text-decoration:none;
        display:inline-block;/*可以点击整块*/
        height:inherit;    
        color:#fff;
}
nav ul li.logo
{
    float:left;
}
#banner
{
    margin-top: 0px;
    background:transparent;
    height:700px;
}
#banner .inner
{
    max-width:200px;
    text-align:center;
    margin: 0 auto;/*整个位置居中*/
    position:relative;
    top:160px;
    color:#fff;
}
#banner .inner h1
{
        margin:0;/*去掉导航栏和下面背景被h1隔开的间隔*/
}

button
{
    border:none;
    background:#CC2b2b;
    color:#eee;
    padding:10px 20px;
    margin-top: 15px;
    
}
#banner button
{
    padding:14px 40px;
}

#banner .inner .more
{
    margin-top:310px;
}

.sub-heading
{
    line-height: 30px;
    margin:12px;
}
.logo
{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
.logo a
{
    color:#fff;/*不能在.logo里面设置*/
    padding:20px;
}

/*content*/
.hr
{
    width:100%;
    height:2px;
    margin:20 auto;
    
}
h2
{
    margin:0;
    font-size: 30px;
}
h3
{
    font-size:24px;
}
.green-section
{
    background:#089DB0;
    color:#fff;
    text-align: center;
    padding: 100px 0;
}
.green-section .hr /*这是里面的横线*/
{
    background: #078494;
}

.green-section .icon-group .icon
{
    display: inline-block;
    width:80px;
    height: 80px;
    background:#000;
    transform:rotate(45deg);/*rotate 45 degree*/
    margin: 20px;
    background:#0d6f7c
    /*border:1px solid #0d6f7c;*/
}
.icon-group
{
    margin-top:60px;
}
.wrapper
{
    max-width:1080px;
    margin:0 auto;
}

/*Grey section*/
.gray-section
{
    background:#252f34;
    color:#fff;
}
/*.article-preview
{
    overflow: hidden;
    font-size: 0;
}*/
.article-preview >div   /*向下一级所有的div*/
{
    float:left;
    font-size: 0;
}
.article-preview:after
{
    content:'';
    display:block;
    clear:both;
}
.article-preview:nth-child(odd)
{
    background: #2f383e;
}
.gray-section .img-section
{
    width: 35%;
}
.img-section img
{
    width:100%;
}
.text-section
{
    position:relative;
    top:68px;
    left:50px;
}
.gray-section .text-section
{
    width:65%;
}
.text-section .sub-heading
{
    font-size: 20px;
}
.text-section h2
{
    margin-bottom: 20px;
}
.text-section p
{
    font-size:15px;
    letter-spacing:1px;
}
.text-section > *
{
    max-width: 90%;
    max-height: 90%;
}
/*purple section*/
.purple-section
{
    padding:80px;
    background:#2e285c;
    color:#fff;
}
.purple-section .heading-wrapper
{
    text-align: center;
}
.puple-section .hr
{
    background:#373259;
    width:60%;
}
.card
{
    float:left;
    width:50%;
    min-height: 300px;
    padding:50px;
    box-sizing: border-box;
}
.card:first-child
{
    background:rgba(0,0,0,0.04)
}
.card:nth-child(2)
{
    background:rgba(0,0,0,0.08)
}
.card:nth-child(3)
{
    background:rgba(0,0,0,0.12)
}
.card:nth-child(4)
{
    background:rgba(0,0,0,0.16)
}
.card:nth-child(5)
{
    background:rgba(0,0,0,0.20)
}
.card:nth-child(6)
{
    background:rgba(0,0,0,0.24)
}

/*footer*/
footer
{
    background:#333;
    color:#fff;
    min-height:200px;
    text-align:center;
}
ul.share-group
{
    display:block;
    width:1080px;
    margin: 0 auto;
    padding:30px;
}

.share-group li
{
    display: inline-block;
    padding:10px;
}
.copy
{
    padding-top:40px;

}
.main-wrapper/*全局背景*/
{
    background:#444 url(../img/banner.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}