body
{
    margin:0;

}
#sidebar
{
    position:fixed;
    width:260px;
    top:0;
    left:0;
    bottom:0;
    background:#333;
    color:#fff;
    float:left;
    transition:left 0.6s;

}
#sidebar ul
{
    list-style: none;
    padding:0;
    margin:0;
}
#sidebar ul a
{
    padding:12px;
    display:inline-block;
    text-decoration: none;
    color:white;
}
#sidebar ul li:hover
{
    background:#444;
}
#main-page
{
    height:700px;
    background:white;

    margin-left:260px;
    transition:left 0.5s;
}
#main-page nav
{
    height:130px;
    width:inherit;
    background:#efeeeb;
}
#main-page nav ul
{
    list-style: none;
    float:right;
    margin:0;
    height:inherit;
    margin-top:100px;
    
}
#main-page nav ul li 
{
    display: inline-block;
}
#main-page nav ul li a
{
    padding:20px 12px;
    color:black;
    text-decoration: none;
}
#main-page nav .active
{
    float:left;
    margin:0;
}
#main-page nav .logo 
{
    
    width:300px;
    text-align: center;
    padding-top:36px;
}
#main-page nav .logo a
{
    border-top:3px solid black;
    font-size:30px;
    text-decoration:none;
    color:black;
    border-bottom: 3px solid black;
}

#sidebar-trigger
{
    position:fixed;
    margin-right:20px;
    width:30px;
    height:30px;
    bottom:5px;
    background:#222;
    background:rgba(0,0,0,0.9);
    border: 1px solid #111;
    color:white;
    margin-left:5px;
    font-size:19px;
    
}
.back-to-top
{
    position:fixed;
    bottom:40px;
    margin-right:20px;
    width:30px;
    height:30px;
    background:#222;
    background:rgba(0,0,0,0.9);
    border: 1px solid #111;
    color:white;
    margin-left:5px;
    font-size:19px;

}
footer
{

    background:#efeeeb;
    color:#666;
    min-height:130px;    
    text-align: center;
    margin-bottom:0;
}
footer .share-group
{
    display:block;
    padding-top:30px;
    margin-bottom:20px;
    padding-left:0;
    list-style: none;
    width:inherit;
    text-align: center;
    
    
}
.share-group li
{
    margin: 0 auto;
    display:inline-block;
    padding:15px;
}
footer .share-group li a
{

    
    text-decoration: none;
    color:#666;
}
.copyright
{
    margin:0 auto;
    margin-top:30px;
    padding-bottom:20px;
}