body
{
    margin:0;

}
#sidebar
{
    position:fixed;
    width:17.5%;
    top:0;
    right:0;
    bottom:0;
    background:#333;
    color:#fff;

    

}
#sidebar ul
{
    list-style: none;
    padding:0;
    margin:0;
}
#sidebar ul a
{
    padding:12px;
    display:inline-block;
    text-decoration: none;
    color:white;
}
#sidebar ul li:hover
{
    background:#444;
}
.main-page
{
    background:#ebedda;

    /*background-size: contain;
    background-repeat: no-repeat;*/
    margin-right:260px;
    top:0;
    bottom:0;
    overflow:hidden;
    width:82.5%;
}
.main-page nav
{
    height:50px;
}
.main-page nav ul
{
    margin:0;
    list-style: none;
    display: inline-block;
}

.main-page nav ul li 
{

    display: inline-block;
}
.main-page nav ul li a
{
    padding:20px 12px;
    color:white;
    text-decoration: none;
}

#sidebar-trigger
{
    position:fixed;
    right:20px;
    width:30px;
    height:30px;
  
    background:#222;
    background:rgba(0,0,0,0.9);
    border: 1px solid #111;
    color:white;
    
}
.back-to-top
{
    position:fixed;
    bottom:40px;
    margin-right:20px;
    width:30px;
    height:30px;
    background:#222;
    background:rgba(0,0,0,0.9);
    border: 1px solid #111;
    color:white;
}